<ol class="breadcrumb">
  <li class="active">Trending Movies</li>
</ol>

<div class="row">
  <% @movies.each_with_index do |movie,index| %>

    <div class="movie-square col-lg-2 col-md-3 col-sm-6 col-xs-12">
      <div class="thumbnail">
        <%= image_tag(movie.poster.gsub(/.jpg/, '-138.jpg'), size: "138x197") %>
      </div>
      <div class="caption">
        <h3><%= movie.title %></h3>
        <p><%= movie.tagline %></p>
      </div>
    </div>

  <% end %>
</div>

<div class="row">
  <div class="col-sm-12">
    <%= link_to 'New Movie', new_movie_path, class:'btn btn-primary' %>
  </div>
</div>

<div class="row text-center">
  <%= will_paginate @movies,previous_label: h("<"), next_label: h(">"), renderer: BootstrapPagination::Rails %>  
</div>
