<ol class="breadcrumb">
  <li class="active">Trending Movies</li>
</ol>

<div class="row">

  <% @movies.each_with_index do |movie,index| %>

    <!-- Movie: Container -->
    <div class="grid col-lg-2 col-md-3 col-sm-4 col-xs-6 movie js-movie-item js-movie-item-<%= movie.id %>" data-movie-id="<%= movie.id %>">
      
      <!-- Poster -->
      <figure class="effect-apollo movie-poster js-movie-poster">
        <%= image_tag(movie.poster.gsub(/.jpg/, '-300.jpg'), size: "138x197", alt: truncate(movie.title, length: 22) + ' Poster', class: 'img-responsive') %>
        <figcaption>
          <p>Click for more info</p>
        </figcaption>     
      </figure>

      <!-- Movie: Title -->
      <div class="col-md-12 movie-title">
        <small><%= truncate(movie.title, length: 22) %></small>
      </div>

    </div>

    <% if (index + 1) % 6 == 0 %>
       <!-- Large Movie Info -->
      <div class="col-lg-12 visible-lg-block js-movie-info-container js-movie-info-container-lg"></div>
    <% end %>

    <% if (index + 1) % 4 == 0 %>
       <!-- Medium Movie Info -->
      <div class="col-md-12 visible-md-block js-movie-info-container js-movie-info-container-md"></div>
    <% end %>

    <% if (index + 1) % 3 == 0 %>
       <!-- Small Movie Info -->
      <div class="col-sm-12 visible-sm-block visible-sm-block js-movie-info-container js-movie-info-container-sm"></div>
    <% end %>

    <% if (index + 1) % 2 == 0 %>
       <!-- Small Movie Info -->
      <div class="col-xs-12 visible-xs-block js-movie-info-container js-movie-info-container-xs"></div>
    <% end %>


  <% end %>
</div>

<div class="row text-center">
  <%= will_paginate @movies,previous_label: h("<"), next_label: h(">"), renderer: BootstrapPagination::Rails %>  
</div>

<!-- Javascript HTML template used for JSON loading -->
<script id="template-movie-info" type="x-tmpl-mustache">

  <div class="movie-info js-movie-info-{{ id }}">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          {{ title }}
          <a href="#" data-movie-id="{{ id }}" class="js-close-movie-info pull-right glyphicon glyphicon-remove-circle margin_left"></a>
          <div class="pull-right">
            <span class="label label-info hidden-sm hidden-xs">Released:  {{ released_formatted }}</span>
            <span class="label label-info">Rating: {{ certification }}</span>
            <span class="label label-info hidden-xs">Runtime: {{ runtime }} mins</span>
          </div>
        </h3>
        {{#tagline.length}}
          <h6><em>{{ tagline }}</em></h6>
        {{/tagline.length}}
      </div>
      <div class="panel-body">

        <div class="col-sm-12">
          <p class="movie-info-overview">
            {{ overview }}
          </p>
        </div>
      
        <div class="col-sm-6">
          <span class="label label-info"><a href="http://www.imdb.com/title/{{ imdb_id }}">IMDB</a></span>
          <span class="label label-info">
            <a href="{{ trailer }}"><i class="fa fa-youtube">YouTube</i></a>
          </span>
        </div>

        <div class="col-sm-6 text-right">
          <a href="movies/{{ id }}" class="btn btn-primary">More Information</a>
        </div>

      </div> 

    </div> 
  
  </div>

</script>