<ol class="breadcrumb">
  <li><%= link_to 'Trending Movies', movies_path %></li>
  <li class="active"><%= @movie.title %></li>
</ol>

<style>
  .fanart-header:after {
    background-image: url(<%= @movie.fanartURL %>);
  }
</style>

<div class="row" style="margin-top:0">

  <div class="col-md-12">
    <div class="img-responsive">
      <div class="fanart-header">

        <div class="row">

          <!-- Left Side -->
          <div class="col-md-3">
            <%= image_tag(@movie.posterURL, size: "138x197", class: 'img-responsive poster', alt: @movie.title + ' Poster') %>
          </div>

          <!-- Right Side -->
          <div class="col-md-9">

            <h1 class='js-main-movie-title'><%= @movie.title %></h1>
            <h6><em><%= @movie.tagline %></em></h6>
            <p><%= @movie.overview %></p>

            <div class="pull-right quicklinks">
              <span class="label label-info hidden-sm hidden-xs">Released: <%= @movie.released_formatted %></span>
              <span class="label label-info">Rating: <%= @movie.certification %></span>
              <span class="label label-info hidden-xs">Runtime: <%= @movie.runtime %> mins</span>

              <% if @movie.imdb_id %>
                <span class="label label-info"><a href="http://www.imdb.com/title/<%= @movie.imdb_id %>">IMDB</a></span>
              <% end %>
              
              <% if @movie.trailer %>
                <span class="label label-info">
                  <a href="<%= @movie.trailer %>"><i class="fa fa-youtube">YouTube</i></a>
                </span>
              <% end %>

            </div>

          </div><!-- end col -->

        </div><!-- end row -->

          
      </div>
    </div>
  </div>

</div>

<div class="panel panel-success">

  <ul class="js-movie-tabs ticket-menu" role="tablist" data-movie-id="<%= @movie.id %>">

      <% if user_signed_in? %>
        <li>
          <a href="#Rotten-Tomatoes-Reviews"
               class='ticket-menu-item rotten-tomatoes text-hide'
               role="tab"
               data-toggle="tab">Rotten Tomatoes<sup>&copy;</sup> Reviews</a>
        </li>
      <% end %>

      <li>
        <a class='js-default-tab ticket-menu-item similar text-hide'
             href="#recommendations"
             role="tab"
             data-toggle="tab">Similar</a></li>

      <li>
        <a href="#reddit"
           class='ticket-menu-item reddit text-hide'
           role="tab"
           data-toggle="tab">Reddit</a>
      </li>
      <li>
        <a href="#trailer-addict"
           class='ticket-menu-item cinema text-hide'
           role="tab"
           data-toggle="tab">Videos</a>
      </li>
    </ul>

</div>

<div class="row js-movie-contents">
  <div class="col-md-12">

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane" id="recommendations"></div>
      <div class="tab-pane active" id="Rotten-Tomatoes-Reviews"></div>
      <div class="tab-pane" id="reddit"></div>
      <div class="tab-pane" id="trailer-addict"></div>
    </div>
  </div>
</div>

<% if false %>
  <%= link_to 'Edit', edit_movie_path(@movie) %> |
  <%= link_to 'Back', movies_path %>
<% end %>