<ol class="breadcrumb">
  <li><%= link_to 'Trending Movies', movies_path %></li>
  <li class="active"><%= @movie.title %></li>
</ol>

<style>
  .fanart-header:after {
    background-image: url(<%= @fanArtURL %>);
  }
</style>

<div class="row" style="margin-top:0">

  <div class="col-md-12">
    <div class="img-responsive">
      <div class="fanart-header">

        <div class="row">

          <!-- Left Side -->
          <div class="col-md-3">
            <%= image_tag(@posterURL, size: "138x197", class: 'img-responsive poster') %>
          </div>

          <!-- Right Side -->
          <div class="col-md-9">

            <h1><%= @movie.title %></h1>
            <h6><em><%= @movie.tagline %></em></h6>
            <p><%= @movie.overview %></p>

            <div class="pull-right quicklinks">
              <span class="label label-info hidden-sm hidden-xs">Released: <%= @movie.released_formatted %></span>
              <span class="label label-info">Rating: <%= @movie.certification %></span>
              <span class="label label-info hidden-xs">Runtime: <%= @movie.runtime %> mins</span>

              <% if @movie.imdb_id %>
                <span class="label label-info"><a href="http://www.imdb.com/title/<%= @movie.imdb_id %>">IMDB</a></span>
              <% end %>
              
              <% if @movie.trailer %>
                <span class="label label-info">
                  <a href="<%= @movie.trailer %>"><i class="fa fa-youtube">YouTube</i></a>
                </span>
              <% end %>

            </div>

          </div><!-- end col -->

        </div><!-- end row -->

          
      </div>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-md-12">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#Rotten-Tomatoes-Reviews" role="tab" data-toggle="tab">Rotten Tomatoes Reviews</a></li>
      <li><a href="#cinema-times" role="tab" data-toggle="tab">Trakt Reviews</a></li>
      <li><a href="#trakt-reviews" role="tab" data-toggle="tab">Recommendations</a></li>
      <li><a href="#cinema-times" role="tab" data-toggle="tab">Cinema Times</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="Rotten-Tomatoes-Reviews">
        <h1>Rotten Tomatoes Reviews</h1>
      </div>
      <div class="tab-pane" id="trakt-reviews">
        <h1>Trakt Reviews</h1>
      </div>
      <div class="tab-pane" id="recommendations">
        <h1>Recommendations</h1>
      </div>
      <div class="tab-pane" id="cinema-times">
        <h1>Cinema Time Tables</h1>
      </div>
    </div>
  </div>
</div>

<% if false %>
  <%= link_to 'Edit', edit_movie_path(@movie) %> |
  <%= link_to 'Back', movies_path %>
<% end %>