<ol class="breadcrumb">
  <li><%= link_to 'Trending Movies', movies_path %></li>
  <li class="active"><%= @movie.title %></li>
</ol>

<style>
  .fanart-header:after {
    background-image: url(<%= @movie.fanartURL %>);
  }
</style>

<div class="row" style="margin-top:0">

  <div class="col-md-12">
    <div class="img-responsive">
      <div class="fanart-header">

        <div class="row">

          <!-- Left Side -->
          <div class="col-md-3">
            <%= image_tag(@movie.posterURL, size: "138x197", class: 'img-responsive poster', alt: @movie.title + ' Poster') %>
          </div>

          <!-- Right Side -->
          <div class="col-md-9">

            <h1><%= @movie.title %></h1>
            <h6><em><%= @movie.tagline %></em></h6>
            <p><%= @movie.overview %></p>

            <div class="pull-right quicklinks">
              <span class="label label-info hidden-sm hidden-xs">Released: <%= @movie.released_formatted %></span>
              <span class="label label-info">Rating: <%= @movie.certification %></span>
              <span class="label label-info hidden-xs">Runtime: <%= @movie.runtime %> mins</span>

              <% if @movie.imdb_id %>
                <span class="label label-info"><a href="http://www.imdb.com/title/<%= @movie.imdb_id %>">IMDB</a></span>
              <% end %>
              
              <% if @movie.trailer %>
                <span class="label label-info">
                  <a href="<%= @movie.trailer %>"><i class="fa fa-youtube">YouTube</i></a>
                </span>
              <% end %>

            </div>

          </div><!-- end col -->

        </div><!-- end row -->

          
      </div>
    </div>
  </div>

</div>

<div class="panel panel-success">

  <ul class="js-movie-tabs ticket-menu" role="tablist" data-movie-id="<%= @movie.id %>">
      <li>
        <a class='js-default-tab ticket-menu-item similar text-hide'
             href="#recommendations"
             role="tab"
             data-toggle="tab">Similar</a></li>
      <li>
        <a href="#Rotten-Tomatoes-Reviews"
             class='ticket-menu-item rotten-tomatoes text-hide'
             role="tab"
             data-toggle="tab">Rotten Tomatoes<sup>&copy;</sup> Reviews</a></li>
      <li>
        <a href="#trakt-reviews"
           class='ticket-menu-item reddit text-hide'
           role="tab"
           data-toggle="tab">Reddit</a>
      </li>
      <li>
        <a href="#cinema-times"
           class='ticket-menu-item cinema text-hide'
           role="tab"
           data-toggle="tab">Cinema Times</a>
      </li>
    </ul>

</div>

<div class="row">
  <div class="col-md-12">

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane" id="recommendations"></div>
      
      <div class="tab-pane active" id="Rotten-Tomatoes-Reviews"></div>
      
      <div class="tab-pane" id="trakt-reviews">
        <h3>Reddit - wip</h3>
      </div>
      
      <div class="tab-pane" id="cinema-times">
        <h3>Cinema - wip</h3>
      </div>
    
    </div>
  </div>
</div>

<!-- Related Movies -->
<script id="template-related-movie-info" type="x-tmpl-handlebars">

  <div class="row">

    <div class='col-xs-12'>
      <h3>
        Movies similar to <em><%= @movie.title %></em>
      </h3>
    </div>

    {{#movies}}
      <div class='col-md-6 col-xs-6'>
        <div class='related-movie'>
          <a href='{{movieurl}}' class='list-group-item row'>

            <div class='col-sm-2 col-xs-12 text-center'>
              <img src='{{posterSmallURL}}' width='64' class='img-responsive' />
              <small class='visible-xs'>{{truncate title 70}}</small>
            </div>

            <div class='col-sm-10 hidden-xs'>
              <h4 class="list-group-item-heading">{{truncate title 40}}</h4>
              <p class="list-group-item-text visible-xs">{{truncate overview 50}}</p>
              <p class="list-group-item-text visible-sm">{{truncate overview 70}}</p>
              <p class="list-group-item-text visible-md">{{truncate overview 120}}</p>
              <p class="list-group-item-text visible-lg">{{truncate overview 160}}</p>
            </div>
            
          </a>
        </div>
      </div>
    {{/movies}}

  </div>

</script>

<!-- Related Movies -->
<script id="template-rotten-tomato-review" type="x-tmpl-handlebars">

  <h3>Critic Reviews - wip</h3>
  <hr />
  <p>Movie Reviews From Rotten Tomatoes<sup>&copy;</sup></p>

  <div class='row'>
    <div class='col-sm-3'>
      <h4>Rotten Tomatoes<sup>&copy;</sup> Score</h4>
      <h6>TOMATOMETER<sup>&copy;</sup></h6>
      <div>

        <div class='row'>

          <div class='col-xs-3 text-center'>
            IMAGE
          </div>

          <div class='col-xs-3 text-cente'>
            {{movie.ratings.critics_score}}%
          </div>

          <div class='col-xs-6 text-cente'>
            <div class="progress">
              <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: {{movie.ratings.critics_score}}%">
                <span class="sr-only">{{movie.ratings.critics_score}}% Complete (danger)</span>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div>Reviews Counted: {{reviews_total}}</div>
      <div>See all <a href='{{movie.links.alternate}}reviews'>{{movie.title}}</a> reviews</div>
    </div>
    <div class='col-sm-9'>
      <h4>TOP CRITIC REVIEWS<sup>&copy;</sup></h4>
      <div class="list-group">
        {{#reviews}}
          <div class='list-group-item row'>
            <div class='col-sm-2'>
              {{freshness}}
            </div>
            <div class='col-sm-10'>
              <p>{{quote}}</p>
              <em>- {{critic}}, {{publication}}, {{prettifyDate date}}</em>
            </div>
          </div>
        {{/reviews}}

      </div>
    </div>

  </div>

</script>

<% if false %>
  <%= link_to 'Edit', edit_movie_path(@movie) %> |
  <%= link_to 'Back', movies_path %>
<% end %>