{{#reddit}}
  <article class="post">
    <a href="{{data.url}}"><img src="{{data.thumbnail}}" alt="" height="100" class="thumbnail" /></a>
    <h1><a href="{{data.url}}">{{truncate data.title 110}}</a></h1>
    <div>
      Submitted {{prettyUnixFromNow data.created_utc}} - {{prettyUnix data.created_utc}}
    </div>
    <div>
      Author: {{data.author}}
    </div>
    
    <div>
      <a href="http://www.reddit.com{{data.permalink}}">
        <span class="badge">
          <span class="glyphicon glyphicon-comment"></span>
           {{data.num_comments}}
        </span>
      </a>
    </div>

  </article>
{{/reddit}}