<div class='rotten-tomatoes-review'>
  
  {{!-- MAIN HEADER--}}
  <div class='main-header'>
    <h3>Critic Reviews</h3>
    <h6>Movie Reviews From Rotten Tomatoes<sup>&copy;</sup></h6>
    <hr />
  </div>
  
  {{!-- BODY--}}
  <div class='row'>

    {{!-- SUMMARY--}}
    <div class='col-md-3 col-sm-12'>
      <h5>Rotten Tomatoes<sup>&copy;</sup> Score</h5>
      <h6>TOMATOMETER<sup>&copy;</sup></h6>

      <div class='row'>
        <div class='col-xs-12'>
          <div class='summary'>
            <i class="icon medium {{rt_rating_image rt.movie.ratings.critics_rating}}"></i>
            <span class='score'>{{rt.movie.ratings.critics_score}}%</span>
            <div class="tomatometer {{rt_rating_image rt.movie.ratings.critics_rating}}">
              <span style="width:{{rt.movie.ratings.critics_score}}%;"></span>
            </div>
          </div>
        </div>
      </div>

      <div>Reviews Counted: {{rt.total}}</div>
      <div class='see-all'>
        See all <em><a href='{{rt.movie.links.alternate}}reviews'>{{rt.movie.title}}</a></em> reviews
      </div>

    </div>{{!-- end summary--}}

    <div class='row hidden-md hidden-lg margin_bottom margin_top'></div>

    {{!-- REVIEWS LIST --}}
    <div class='col-md-9'>

      {{#rt.reviews}}
        <div class="panel panel-default review">
          <div class="panel-heading">
            <h3 class="panel-title">

              <div class='row'>

                <div class='col-sm-3 text-left'>
                  <span class='label label-default'>
                    <span class="glyphicon glyphicon-calendar"></span> {{prettifyDateLong date}}
                  </span>
                </div>

                <div class='col-sm-6 text-center'>
                  <span class='label label-default'>
                    <span class="glyphicon glyphicon-user"></span> {{critic}}
                  </span>
                </div>

                <div class='col-sm-3 text-right'>
                    <a class='label label-info' href="{{links.review}}">
                      {{publication}}
                      <span class="glyphicon glyphicon-link"></span>
                    </a>
                </div>

              </div>

            </h3>
          </div>
          <div class="panel-body">

            <div class="row">
                <div class="col-xs-6 col-md-4 col-lg-2 text-center vcenter">
                    <div><i class="img-responsive icon huge {{rt_rating_image freshness}}"></i></div>
                </div><!--
                --><div class="col-xs-6 col-md-8 col-lg-10 quote">
                    <p class='lead'>{{quote}}</p>
                </div>
            </div>
            
          </div>{{!-- end panel-body --}}

          <div class="panel-footer"></div>

        </div>
      {{/rt.reviews}}

    </div>{{!-- end reviews list--}}

  </div>{{!-- end body--}}

</div>{{!-- end css wraper --}}