<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "TogaToga.me" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "superhero", :media => "all" %>
    <%= yield(:page_stylesheet) if content_for?(:page_stylesheet) %>
    <style>
      @import url(https://fonts.googleapis.com/css?family=Sigmar+One);
    </style>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>

  </head>
  <body>

    <% if !@include_header.nil? %>
    <header>
      <div class='container'>
        <div class="jumbotron text-center">
         <h1>Toga Toga!</h1>
        </div>
      </div>
    </header>
    <% end %>

    <!-- Fixed navbar -->
    <div <% if !@include_header.nil? %>id='nav'<% end %>>
      <div class="navbar navbar-inverse">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            
            <%= link_to(root_path,class:"navbar-brand") do %>
              <span class="glyphicon glyphicon-film"></span>
              TogaToga.me
            <% end %>

          </div>

          <% if user_signed_in? %>
            <!-- Member Menu -->
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="<%= current_controller("movies",:active) %>">
                  <%= link_to :Trending, movies_path %>
                </li>
                <li class="<%= current_controller("favourites",:active) %>">

                  <%= link_to user_favourites_path(current_user) do %>
                    Favourites <span class="badge margin_left js-favourite-count"><%= current_user.favourites.count %></span>
                  <% end %>

                </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= image_tag(current_user.avatar, size: "36", class: "img-circle avatar") %> <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
                    <li class="divider"></li>
                    <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
                  </ul>
                </li>
              </ul>
            </div><!--/.nav-collapse -->

          <% else %>
            <!-- Guest Menu -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li class="<%= current_controller("movies",:active) %>"><%= link_to :Trending, movies_path %></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li class='<%= current_controller("sessions",:active) %>'><%= link_to 'Sign In', new_user_session_path %></li>
              </ul>
            </div>
          <% end %>

        </div>
      </div>
    </div>
    

    <div class="container theme-showcase">

      <% if notice || alert %>
        <div>
          <% if notice %>

            <div class="alert alert-warning alert-dismissible notice" role="alert">
              <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <%= notice %>
            </div>

          <% end %>

          <% if alert %>

            <div class="alert alert-info alert-dismissible notice" role="alert">
              <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <%= alert %>
            </div>

          <% end %>
        </div>
      <% end %>

      <%= yield %>

    </div> <!-- /container -->

    <footer class="footer">
      <div class="container">    
        <div class="row-fluid">
          <div class='col-md-4'>
            <h5>Site Map</h5>
            <ul>
              <li><%= link_to :Trending, root_path %></li>
              <% if user_signed_in? %>
                <li><%= link_to :Favourites, user_favourites_path(current_user) %></li>
                <li><%= link_to :Profile, edit_user_registration_path %></li>
                <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
              <% else %>
                <li><%= link_to 'Sign In', new_user_session_path %></li>
              <% end %>
            </ul>
          </div>
          <div class='col-md-8 visible-md visible-lg'>
            <h5>About Site</h5>
            <p>TogaToga.me lists the trending movies from a variety of sources updated 5 times a day. For each movie you can view similar movies, reviews from the top critics, as well as record your own favourite movie lists.</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>
    <%= yield(:page_javascript) if content_for?(:page_javascript) %>
  </body>
</html>